<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cinema_id %><br />
    <%= f.text_field :cinema_id %>
  </div>
  <div class="field">
    <%= f.label :film_id %><br />
    <%= f.text_field :film_id %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.datetime_select :hour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
