<p id="notice"><%= notice %></p>

<p>
  <b>Cinema:</b>
  <%= @show.screening.cinema.name %>, <%= @show.screening.cinema.location %>
</p>

<p>
  <b>Film:</b>
  <%= @show.screening.film.title %>
</p>

<p>
  <b>Hour:</b>
  <%= @show.hour %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
