<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cinema.name %>
</p>

<p>
  <b>Location:</b>
  <%= @cinema.location %>
</p>

<p>
  <b>Shows currently shown:</b>
  <ol>
  <% @cinema.shows.group('film_id, id, cinema_id, hour').each do |show| %>
    <li><%= link_to show.film.title, show %></li>
  <% end %>
</ol>
</p>


<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
