<!DOCTYPE html>
<html>
<head>
  <title>Guru2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p>
  <%= link_to_unless_current "Cinemas", cinemas_path %>
  <%= link_to_unless_current "Films", films_path %>
  <%= link_to_unless_current "Screenings", screenings_path %>
  <%= link_to_unless_current "Shows", shows_path %>
</p>

<%= yield %>

</body>
</html>
